.container {
  display: flex;
  justify-content: center;
}

.float_box {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

#title_box{
  display: flex;
}

#title {
  display: flex;
  align-items: center;
}
#link_box {
  display: flex;
  justify-content: flex-end;
}

#resume {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
}

#bio {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.icons{
  display: flex;
  align-items: center;
}

