.container, html, body {
  height: 100%;
  margin: 0;
}

.container {
  background-image: url("images/sharp_background.jpg");
  /*background-size: 100% 100%;*/
  background-size: cover ;
  font-family: 'Rubik', sans-serif;
}

.float_box {
  /*background: #3a3a3b ;*/
  color: white;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}

.header {
  /* background: aqua; */
  height: 15%;
  width: 100%
}

#title_box{
  /* background:red; */
  width: 50%;
  font-size: 14pt;
}

#title {
  /* background: greenyellow; */
  padding: 20px;
}

#link_box {
  /* background: blueviolet; */
  width: 50%;
  text-align: right;
}

#resume {
  /* background: midnightblue; */
  padding: 20px;
}

.link_text {
  color: white;
  text-decoration: none;
  font-size: 14pt;
}

.center {
  /*background: brown;*/
  height: 70%;
  width: 100%;
}

#bio {
  /*background: forestgreen;*/
  height: 80%;
  width: 70%;
  margin: 30px 50px;
  float: left;
  text-align: justify;
  padding: 20px;
}

.footer {
  /*background: coral;*/
  height: 15%;
  width: 100%;
}

.icons{
  /*background: midnightblue;*/
  padding: 10px;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 10px;
}