html, body {
  height: 100%;
  margin: 0;
}

/* Set the background color of body to tan */
body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: tan;
  /* background-image: url("images/sharp_background.jpg"); */
  background-size: cover ;
  font-family: 'Rubik', sans-serif;
}

.container {
  background: #3a3a3b ;
  display: flex;
  flex-direction: column;
  color: white;
}

/* Header */
.header {
  /* background: aqua; */
  display: flex;
  flex-direction: column;
}

.title {
  /* background: greenyellow; */
  display: flex;
  order: 1;
  padding: 20px;
  font-size: 24pt;
  justify-content: center;
}

/* Center */
.center {
  /* background: brown; */
  display: flex;
  justify-content: center;
}

.bio {
  /* background: forestgreen; */
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  font-size: 12pt;
}

.bio p {
  font-size: 11pt;
}

/* Footer */
.footer {
  /* background: coral; */
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.icons{
  /* background: midnightblue; */
  display: flex;
  order: 1;
  align-items: center;
}

.icons a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.resume {
  display: flex;
  order: 2;
  align-items: center;
}

.resume a{ 
  color: white;
  text-decoration: none;
  font-size: 10pt;
  padding: 10px;
}

/* On screens that are 600px or more, set the background color to olive */
@media screen and (min-width: 666px) and (max-width: 992px){
  body {
    background-color: olive;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  body {
    background-color: blue;
  }
}