.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  width: 95%;
  height: 5%;
}

.split {
  cursor: default;
  padding: 0px 5px;
}

.navLink {
  text-decoration: none;
  color: white;
}

Link {
  text-decoration: none;
  color: white;
}
