.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 90%;
  margin: 2% 0;
  overflow: auto;
  max-width: 1000px;
}

.projects-container::-webkit-scrollbar {
  display: none;
}