@import "~react-image-gallery/styles/css/image-gallery.css";

@import 'styles.css';
@import 'BackgroundAnimation.css';
@import 'Header.css';
@import 'Card.css';
@import 'Photography.css';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-width: 984px;
}