html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Set the background color of body to tan */
body {
  background: #3a3a3b ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  overflow: hidden; 
}


.page {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 1000px;
  max-width: 1000px;
  min-width: 700px;
  margin: 60px 0 0 0;
} 

/* Header */
/* ---------------------------------------------- */
.header {
  display: flex;
  order: 1;
  flex-direction: column;
}

.title {
  display: flex;
  order: 1;
  padding: 20px;
  font-size: 3em;
}

/* Center */
/* ---------------------------------------------- */
.center {
  display: flex;
  order: 2;
  justify-content: center;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.bio p {
  font-size: 1.2em;
}

.bio a {
  color: #F9685D;
  text-decoration: none;
}

/* Footer */
/* ---------------------------------------------- */
.footer {
  display: flex;
  order: 3;
  justify-content: space-between;
  padding: 0px 20px;
}

.icons{
  display: flex;
  order: 1;
  align-items: center;
}

.icons a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.resume {
  display: flex;
  order: 2;
  align-items: center;
}

.resume a{ 
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
}

/* On screens that are 600px or more, set the background color to olive */
@media only screen and (min-width: 600px){
  body {
    align-items: center;
  }
  .container {
    justify-content: center;
  }
}

/* On screens that are 900px or more, set the background color to blue */
@media only screen and (min-width: 850px) {
  .container {
    max-width: 660px;
  }
}