.card {
  margin: 6px;
  padding: 6px;
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 300px;
}

.card-thumbnail {
  padding: 16px;
  max-width: 210px;
}

.card-title {
  font-size: large;
  font-weight: bolder;
  color: rgb(218, 218, 218);
  padding: 0 16px;
  align-self: start;
}

.card-description {
  font-size: small;
  font-weight: lighter;
  color: lightgray;
  padding: 8px 16px;
  align-self: start;
}

a, a:visited, a:hover, a:active {
  text-decoration:none;
}