
.footer {
  display: flex;
  order: 3;
  justify-content: space-between;
  padding: 0px 20px;
  margin-bottom: 16px;
}

.icons{
  display: flex;
  order: 1;
  align-items: center;
}

.icons a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}