
.footer {
  position: absolute;
  z-index: 99;
  display: flex;
  bottom: 0;
  order: 3;
  justify-content: center;
  padding: 8px 20px;
  min-height: 48px;
  width: 100%;
  /* background-color: rgba(128, 128, 128, 0.5); */
  margin-bottom: 0;
}

.icons {
  display: flex;
  order: 1;
  align-items: center;
}

.icons a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}