@import './components/Home/Home.css';

/* Variables */
:root {
  --text-color: rgb(255, 255, 255);
  --himarley-color: #F9685D;
  --himarley-color-faded: rgb(251, 155, 148);
}

/* Generic CSS */
html, body {
  height: 100%;
  width: 100%;
  margin: 0; 
}

#root {
  width: 100%;
  height: 100%;
}

.with-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.with-header, .with-footer {
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  background: none;
  font-family: 'Rubik', sans-serif;
  overflow: hidden; 
}

/* On screens that are 650px to 850px (width of iPhone SE to tablet?)*/
@media only screen and (min-width: 800px){
  .container {
    width: 500px;
    padding: 40px 40px 80px 40px; 
  }
}

/* Tablet / Smaller desktop */
@media only screen and (min-width: 900px) {
  .container {
    width: 700px;
  }
}


/* Desktop */
@media only screen and (min-width: 1375px) {
  .container {
    width: 800px;
  }
}