/* @import './components/Home/Home.css'; */

/* Variables */
:root {
  --text-color: rgb(255, 255, 255);
  --himarley-color: #F9685D;
  --himarley-color-faded: rgb(251, 155, 148);
}

/* Generic CSS */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.with-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.with-header, .with-footer {
  position: fixed;
  width: 100%;
  height: 100%;
}

body {
  background: none;
  font-family: 'Rubik', sans-serif;
  overflow: hidden; 
  min-width: 1250px;
}

/* On screens that are 600px or more*/
@media only screen and (min-width: 600px){
  body {
    align-items: center;
  }
  .container {
    justify-content: center;
  }
}

/* On screens that are 900px or more*/
@media only screen and (min-width: 850px) {
  .container {
    max-width: 800px;
  }
}